rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function hasValidSubscription(requiredLevelId) {
      return requiredLevelId != null && 
                 requiredLevelId != "" &&
                 request.auth != null &&
                 
                 exists(/databases/$(database)/documents/subscriptions/$(request.auth.uid)) &&
                 
                 get(/databases/$(database)/documents/subscriptions/$(request.auth.uid)).data.endsAt > request.time &&
                 
                 get(/databases/$(database)/documents/subscriptions/$(request.auth.uid)).data.educationalLevelId != null &&
                 
                 get(/databases/$(database)/documents/subscriptions/$(request.auth.uid)).data.educationalLevelId == requiredLevelId;
    }

    // التحقق من أن المستخدم أدمن
    function isAdmin() {
      return request.auth != null &&
                 exists(/databases/$(database)/documents/roles/$(request.auth.uid)) &&
                 get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.role == 'admin';
    }

    match /roles/{userId} {
      allow read: if isAdmin();
      allow write: if false; 
    }

    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && request.auth.uid == userId;
    }

    match /contactMessages/{messageId} {
      allow create: if true; // السماح لأي شخص بإرسال رسالة
      allow read: if isAdmin();
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if true; 
    }
  }
}

